<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Go</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}">
    <script defer src="{{ url_for('static', path='/main.js') }}"></script>
  </head>
  <body>
    <div>
      <h1>Welcome to Online Go</h1>

      <!-- Create Game -->
      <div>
        <label for="boardSize">Select Board Size:</label>
        <select id="boardSize">
          <option value="19" selected>19x19</option>
          <option value="13">13x13</option>
          <option value="9">9x9</option>
        </select>
        <button id="createGameBtn">Create Game</button>
        <p id="gameIdDisplay"></p> <!-- Will display the created game ID -->
      </div>

      <!-- Join Game -->
      <div>
        <input type="text" id="gameIdInput" placeholder="Enter Game ID">
        <button id="joinGameBtn">Join Game</button>
      </div>
    </div>
  </body>
</html>
